<%= form_with(model: address) do |form| %>
<% if address.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% address.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :street, class: label_class %>
          <%= form.text_field :street, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :number, class: label_class %>
          <%= form.number_field :number, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :city, class: label_class %>
          <%= form.text_field :city, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :state, class: label_class %>
          <%= form.text_field :state, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :shop_id, class: label_class %>
          <%= form.text_field :shop_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if address.persisted? %>
<%= link_to "Cancel", address, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", addresses_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
