<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Address</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to addresses_path, class: button_class(theme: "transparent") do %>
      All Address
      <% end %>
      <%= link_to edit_address_path(@address), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Street:</p>
        <p><%= @address.street %></p>
      </li>
      <li>
        <p class="font-semibold">Number:</p>
        <p><%= @address.number %></p>
      </li>
      <li>
        <p class="font-semibold">City:</p>
        <p><%= @address.city %></p>
      </li>
      <li>
        <p class="font-semibold">State:</p>
        <p><%= @address.state %></p>
      </li>
      <li>
        <p class="font-semibold">Shop:</p>
        <p><%= @address.shop.name %></p>
      </li>
  </ul>
</div>
